# Python env
venv/
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# IDEs
.vscode/
.idea/

# Database
loansense.db

# Environment variables
.env

# Frontend
**/node_modules/
**/dist/
**/build/
.eslintcache

# Machine Learning
**/ml/models/*.pkl
**/ml/data/new_submissions.csv
**/ml/data/retraining_queue.csv

# Media / Generated
**/backend/generated_pdfs/*.pdf
