fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
scikit-learn
xgboost
shap
joblib
pandas
numpy
matplotlib
requests
traceback-with-variables
