fastapi
uvicorn[standard]
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
pydantic-settings
python-multipart
scikit-learn
xgboost
shap
pandas
PyPDF2
pytesseract
Pillow
matplotlib
psycopg2-binary
